# Copy this to .env and fill in your values
HELA_TESTNET_RPC=https://testnet-rpc.helachain.com
HELA_RPC_URL=https://testnet-rpc.helachain.com
PRIVATE_KEY=733b7f8e99fa933dcfcbd75e718413fe3f3b549adfa19bb0c92f4c28d6b5714a
DEV_WALLET=0xYourDevWalletAddress
PRIZE_POOL_WALLET=0xPrizePoolWalletAddress
HLUSD_ADDRESS=0xHLUSDTokenContractOnHelaTestnet
